@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-desktop-sidebar {
  background-image: url("assets/images/bg-sidebar-desktop.svg");
}

.bg-advanced-plan {
  background-image: url("assets/images/icon-advanced.svg");
}
.bg-arcade-plan {
  background-image: url("assets/images/icon-arcade.svg");
}
.bg-pro-plan {
  background-image: url("assets/images/icon-pro.svg");
}
.bg-thank-you {
  background-image: url("assets/images/icon-thank-you.svg");
}
